In [3]:
# Import required package
import pandas as pd

In [2]:
'''
Create a dictionary to save all information about employees and create a new column
to save the calculate value for weekly salary
'''

'\nCreate a dictionary to save all information about employees and create a new column\nto save the calculate value for weekly salary\n'

In [3]:

#  1.-idNumber, name, payRate, hoursWorked, weeklySalary 
myEmpDic = {
            'idNumber': ['001', '002','003','004','005','006','007','008','009','010'],
            'name': ['Mary', 'John', 'Bob', 'Mel', 'Jen','Sue', 'Ken', 'Dave', 'Beth', 'Ray'],
            'payRate': [15, 22, 35, 43, 17, 29, 40, 20, 37, 16.5],
            'hoursWorked':[40, 25, 4, 62, 33, 45, 36, 17, 37, 80],
            'weeklySalary' : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
           }

# take a look over the key pair of the new dictionary
myEmpDic.values()

dict_values([['001', '002', '003', '004', '005', '006', '007', '008', '009', '010'], ['Mary', 'John', 'Bob', 'Mel', 'Jen', 'Sue', 'Ken', 'Dave', 'Beth', 'Ray'], [15, 22, 35, 43, 17, 29, 40, 20, 37, 16.5], [40, 25, 4, 62, 33, 45, 36, 17, 37, 80], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]])

In [8]:
 myEmpDic['hoursWorked']

[40, 25, 4, 62, 33, 45, 36, 17, 37, 80]

In [5]:
# 2.- Create a dataframe from the dictionary and assign that value to a new variable
data= pd.DataFrame.from_dict(myEmpDic)

In [9]:
dfEmp=pd.DataFrame(myEmpDic)

In [10]:
dfEmp.head()

  idNumber  name  payRate  hoursWorked  weeklySalary
0      001  Mary     15.0           40             0
1      002  John     22.0           25             0
2      003   Bob     35.0            4             0
3      004   Mel     43.0           62             0
4      005   Jen     17.0           33             0

In [6]:
data.head()

  idNumber  name  payRate  hoursWorked  weeklySalary
0      001  Mary     15.0           40             0
1      002  John     22.0           25             0
2      003   Bob     35.0            4             0
3      004   Mel     43.0           62             0
4      005   Jen     17.0           33             0

In [7]:
# iterate the rows of the dataframe
for i in data.index:
    
    valHours= data.get_value(i, 'hoursWorked')
    valPay= data.get_value(i, 'payRate')
    
    # If the 
    if valHours <= 40:
        valWeekly= valHours * valPay
        #Assign the new value
        data.set_value(i,'weeklySalary',valWeekly )
        
    elif valHours > 40:
        valeExceed= valHours - 40
        valWeekly= (40 * valPay ) + valeExceed *1.5
        #Assign the new value
        data.set_value(i,'weeklySalary',valWeekly )    

# Print the dataframe which show the calculated value   
print (data)

  idNumber  name  payRate  hoursWorked  weeklySalary
0      001  Mary     15.0           40           600
1      002  John     22.0           25           550
2      003   Bob     35.0            4           140
3      004   Mel     43.0           62          1753
4      005   Jen     17.0           33           561
5      006   Sue     29.0           45          1167
6      007   Ken     40.0           36          1440
7      008  Dave     20.0           17           340
8      009  Beth     37.0           37          1369
9      010   Ray     16.5           80           720

C:\Users\claudia\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: get_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  after removing the cwd from sys.path.
C:\Users\claudia\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: get_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  """
C:\Users\claudia\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  # This is added back by InteractiveShellApp.init_path()
C:\Users\claudia\Anaconda3\lib\site-packages\ipykernel_launcher.py:17: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead